<!---------------------------------------------------
    Master view of Chat
    --------------------------------------------------->
<div class="well" data-ng-controller="chatController as vm">

    <form class="container" autocomplete="off" ng-submit="sendMessage()">
        <input type="text" id="message" />
        <input type="submit" id="sendmessage" value="Send" />
    </form>

    <br />
    <strong>{{vm.userInfo.name}}</strong>
    <img ng-src="{{vm.userInfo.picture.data.url}}" />
    <br />

    <ul data-ng-repeat="message in vm.messages">
        <li>
            <strong>{{message.user}}: </strong>
            [{{message.createDate}}] {{message.text}}
        </li>
    </ul>
</div>