@section scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/signalr/jquery.signalr.js"></script>
    <script src="/signalr/js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/logger.js"></script>
    <script src="~/js/controllers/chatController.js"></script>
}

<h1>Live Chat!</h1>

<script>
    window.userName = @ViewBag.UserName;
</script>

<div data-ng-app="app" data-ng-include="'/js/views/chat.html'"></div>

